
.button{
border:0.5px solid #EC5F59;
border-radius: 5px;
width: 60%;
height: 40px;   
position: relative;
background-color: rgba(241, 90,103, 1);
background-image: linear-gradient(#E96A69, #F45671);
}
.buttonAdd{
    border:0.5px solid #EC5F59;
    border-radius: 5px;
    width: 15%;
    height: 40px;   
    position: relative;
    background-color: rgba(241, 90,103, 1);
    background-image: linear-gradient(#E96A69, #F45671);
    }

.buttonmatter{
color: white;
cursor: pointer;
}

.buttonsidebar{
    border-top:0.5px solid #EC5F59;
    border-radius: 5px;
    width: 60%;
    height: 40px;   
    position: relative;
    /* background-color: rgba(241, 90,103, 1); */
    /* background-image: linear-gradient(#E96A69, #F45671); */
    cursor: pointer;
}
.buttonsidebar:hover{
    background-color: rgba(199, 174, 176, 0.2);
    cursor: pointer;
}


.textLink{
color:#007BFE;
/* text-decoration: none; */
}

.textLink:hover{
color:  rgb(2, 90, 184);;
cursor: pointer;
text-decoration: underline;
}

.sideBarBackGroud{
    background-color: rgba(241, 90,103, 1);
    background-image: linear-gradient(#D95A4F, #F45671);
    }
    
.drawerBackground {
    width: 100%;
}
    
.drawerBackgroundnested {
    /* background-color:white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto; */

    width: 100px;
    height:100px;
    border-radius: 50%;
    background: white;
}
   
.profileinputnone {
    display: none;
    cursor: pointer;
   }
   
   .profileImage {
     /* height:90%;
     width: 90%;
     border-radius: 50px; */
     margin-top: 4%;
     width: 90px;
     height: 90px;
     border-radius: 50%;
     
    }
   
    .profileImageupload {
     background-color: whitesmoke;
     height:35%;
     width: 35%;
     position: relative;
     top: -32%;
     left: 38%;
     border-radius: 80px;
     justify-content: center;
     align-items: center;
    }


    .cardshadow{
        /* border: 1px solid; */
        padding: 10px;
        /* box-shadow: 5px 5px 15px #808080, 
        5px 5px 15px grey, 
        5px 5px 25px grey; */
        /* box-shadow: 5px 5px 5px 5px #aaaaaa; */
        color: white;
        box-shadow: 2px 2px 8px #aaaaaa;
        /* opacity: 0.4; */
        }